html(lang ='en')
    head 
        title About
    body     
       h1 Adventure
       nav 
            a(href="about") About
            a(href="/") Home

   img(src="https://i.ibb.co/ySR0LhR/grid.png" alt='grid image')
        h2 About Page 
            p Topping sesame snaps sweet roll gingerbread jelly-o. Tootsie roll fruitcake gummies sugar plum topping. Cookie cookie jelly bonbon bonbon croissant cheesecake liquorice gingerbre bonbon topping candy canes topping soufflé marshmallow. Bonbon cotton candy brownie sweet roll jelly beans shortbread. Lollipop brownie pastry cheesecake macaroon.