html
title hiya
h2 new line
div a second line
p a third line
form(action="", method="get") 
h2 title of form 
input(type="text", value="")
br
br
div 
a(href="/about")
  p click me 
br
input(type = "text", placeholder = 'enter email')