html(lang ='en')
    head 
        title About
    body(style="text-align: center")
      nav 
            span 
            a(href="secondpg") About
            span 
            a(href="/") Home
            br
            img(src="https://i.ibb.co/wLZkzNb/pexels-jess-vide-4600762.jpg" alt="pexels-jess-vide-4600762")
            br
            h1 Your Next Adventure in #{year}
            h2 #{location} 
            p #{description}
            h2 daily word: #{word}